<div class= "container">

  <h1><strong>Votre Recette </strong></h1>

  <div class="container">
    <%= simple_form_for [@user, @recipe] do |f| %>
      <%= f.error_notification %>
      <%= f.input :name %>
      <%= f.input :description,
                  label: "Préparation" %>
      <%= f.input :category,
                  as: :radio_buttons,
                  collection: [ "Entrée", "Plat", "Dessert" ] %>
      <%= f.input :minute, label: "Temps de préparation en min" %>
      <%= f.input :person, label: "Pour combien de personne(s) ?" %>
      <%= f.input :photo, as: :file %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>

