
<div class="container">
  <h1> <%= @recipe.name %> </h1>
  <i>  <%= @recipe.person %> personne(s) - <%= @recipe.minute %> min </i>
  <h6> <b> <%= @recipe.category %> </b></h6>

    <% if @recipe.photo.attached? %>
      <%= cl_image_tag @recipe.photo.key, class: "card-category"%>
    <% else %>
      <img class="card-category" src="https://semantic-ui.com/images/wireframe/image.png" >
    <% end %>

  <div class="container-ingredient">
     <h3>Liste des ingredients</h3>
    <% @ingredients.each do |ingredient| %>
     <li> <%= ingredient.quantity %> <%= ingredient.measure %> <%= ingredient.name %> </li>
    <% end %>
  </div>

  ================================== <br>

  <h3>Préparation </h3>

  <br>
  <%= sanitize @recipe.description %>
  <div class="bottom-btn">
    <div class="btn-logout">
      <%= link_to new_user_recipe_ingredient_path(@user,@recipe) do %>
        + Ingredient
      <% end %>
    </div>

    <div class="btn-logout">
      <%= link_to user_path do %>
        Retour
      <% end %>
    </div>
    <div class="btn-logout">
      <a href="whatsapp://send?text= <%= @recipe_review_url %>"> <i class="fab fa-whatsapp"></i> Partager</a>
    </div>
  </div>
</div>


    <!-- Block to add comments -->
    <div class="container">
      <div class="comment-logic">
        <% if @comments_counter > 0 %>
          <h5>Commentaire(s)</h5>
        <% end %>
      </div>


      <% @recipe.comments.each do |comment| %>
        <div class="d-flex flex-column flex-end">
          <div class="d-flex justify-content-between info-comment">
            <p class="mb-0 comment-name"><%= comment.name %></p>
            <p class="mb-0 comment-date"><%= comment.created_at.strftime('%d %b %Y') %></p>
          </div>
          <p class="comment-description">" <%= comment.comment_description%>"</p>
        </div>
      <% end %>

      <% if current_user.nil? %>
        <%= link_to "Laisser un commentaire", new_user_recipe_comment_path(@user,@recipe), class: "btn-review-comment"%>
      <% elsif current_user != @recipe.user %>
        <%= link_to "Laisser un commentaire", new_user_recipe_comment_path(@user,@recipe), class: "btn-review-comment"%>
      <% end %>
    </div>
