<div class="btn-logout">
  <%= link_to home_path do %>
    Home
  <% end %>
</div>


<h1>Hello <%= @user.name %></h1>

  <!-- Recette creer par l'utilisateur -->
  <h3>Mes recettes </h3>
    <div class="card-container">
      <% @recipes.each do |recipe| %>
        <%= link_to user_recipe_path(recipe) do %>
          <div class="card-category">
            <%= cl_image_tag recipe.photo.key, class: "card-category"%>
            <div class="card-text"><%= recipe.name %> </div>
          </div>
        <% end %>
      <% end %>
    </div>


  <!-- Recette d'une meme famille -->
  <h3>Les recettes de ma famille</h3>
    <% @family_recipe.each do |recipe|%>
      <li>
       <%= recipe.name %>
      </li>
    <% end %>



  <!-- Ajouter une recette -->
  <%= link_to new_user_recipe_path(@user, @recipe) do %>
    <div class="btn btn-primary">
      Ajouter une recette
    </div>
  <% end %>

  <!-- Se deconnecter  -->
  <div class="btn-logout">
    <%= link_to destroy_user_session_path, method: :delete do %>
      Se deconnecter
    <% end %>
  </div>

