<div class ="container" data-no-turbolink>
<h1>Hello <%= @user.name %></h1>

  <!-- Recette creer par l'utilisateur -->
  <div class="card-recipe">
    <h3>Mes recettes </h3>
      <div class="card-container">
        <% @first_five_current_user_recipes.each do |recipe| %>
          <%= link_to user_recipe_path(@user,recipe) do %>
            <div class="card-category">
              <% if recipe.photo.attached? %>
                <%= cl_image_tag recipe.photo.key, class: "card-category"%>
              <% else %>
                <img class="card-category" src="https://semantic-ui.com/images/wireframe/image.png" >
              <% end %>
              <div class="card-text"><%= recipe.name %> </div>
            </div>
          <% end %>
        <% end %>
      </div>
  </div>



  <!-- Recette d'une meme famille -->

  <div class="card-recipe">
    <h3>Les recettes de ma famille</h3>
      <%= form_tag user_path, method: :get do %>
        <%= text_field_tag :query,
                            params[:query],
                            class: "form-control"%>
       <div>
        <%= submit_tag "Search", class: "btn" %>
      <% end %>
      </div>


      <% @result_arr.each do |recipe|%>
        <li>
          <%= link_to user_recipe_path(@user,recipe) do %>  <%= recipe.name %> <% end %>
          par
          <i> <%= recipe.user.name %> </i>
        </li>
      <% end %>
  </div>


  <!-- Ajouter une recette -->
  <%= link_to new_user_recipe_path(@user, @recipe) do %>
    <div class="btn btn-primary">
      Ajouter une recette
    </div>
  <% end %>

  <!-- Se deconnecter  -->
  <div class="btn-logout">
    <%= link_to destroy_user_session_path, method: :delete do %>
      Se deconnecter
    <% end %>
  </div>



</div>
